/*
 Ecards OSGI plugin CSS
*/
.ecardsDivs {
    /*display: none;*/
}

#image_field {
  visible: true;
}

a.ecardsthumbs {
  display: inline-block;
  padding: 5px;
  margin: 0 0 5px 0;
  border:1px solid gray;
}

a.ecardsthumbs:hover {
  outline: 1px solid gray;
}

a.ecardsselected {
  outline: 1px solid #c90000;
}

/*Preview Div*/

#ecard-body {
  margin: 20px;
  overflow:hidden;
  display:inline-block;
}

#ecard-from {
  margin: 20px 20px 10px 20px; 
}

#ecard-to {
  margin: 0px 20px 0px 20px;
}

#ecard-background {
  border: 2px solid black;
  margin: 5px;
}

#ecard-info{
  border: 2px solid black;
  margin: 5px;
  visibility: visible;
  width:720px;
}

#ecard-print-from h3, #ecard-print-to h3 {
  color:black;	
}

#ecard-message-counter-area{
	margin: 0 0 30px 0;
}

#ecard-from h3, #ecard-to h3 {
  color:black;	
}

/*
Styles for print eCard page
*/
#ecard-print-body {
  margin: 20px;
  overflow:hidden;
  display:inline-block;
}

#ecard-print-from {
  margin: 20px 20px 10px 20px;
}

#ecard-print-to {
  margin: 0px 20px 0px 20px;
}

#ecard-print-background{
  border: 2px solid black;
  margin: 5px;
  visibility: visible;
}

#ecard-print-info{
  border: 2px solid black;
  margin: 5px;
  visibility: visible;
  width:720px;
}

#ecard-print-from h3, #ecard-print-to h3 {
  color:black;	
}

/* override dojo style */
.dmundra .dijitInputField INPUT, .dmundra .dijitTextBox, .dmundra .dijitSpinner {
    padding: 0;
}
.dmundra .dijitComboBox .dijitArrowButton .dijitArrowButtonInner {
    border: medium none;
}
input.dijitReset, input.dijitInputField, input.dijitArrowButtonInner {
	cursor:pointer !important;
}
textarea#error {
	width: 370px !important;
}
.dijitButtonContents {
    display: block !important;
    padding: 6px !important;
    width: 100px !important;
}

.submitContent .formFieldSet {
    margin: 0 0 0px !important;
}